.layout-wrap {
  height: 100vh;
}
.content-wrap {
  height: 100%;
  overflow-y: scroll;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h3 {
  color: #fff;
  margin-bottom: 0;
}

.site-layout .site-layout-background {
  background: #fff;
}
.apod {
  margin-top: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
